:host {
  --code-background: gainsboro;
  --block-pad: .5rem;
  --blockquote-border: 4px solid linen;
  --list-indent: 1.5rem;
  --block-tab-size: 2;

  display: block;
  tab-size: var(--block-tab-size);
}

blockquote {
  border-left: var(--blockquote-border);
  padding-left: var(--block-pad);
  tab-size: var(--block-tab-size);
  text-wrap: wrap;
}

code {
  background: var(--code-background);
  padding: 0 2px;
}

pre:has(code) {
  padding: 0 0 var(--block-pad) var(--block-pad);
}

ol, ul {
  padding-left: var(--list-indent);
}

pre {
  background: var(--code-background);
}

@media (prefers-color-scheme: dark) {
  :host {
    --code-background: rgb(20,20,20);
  }
}
